@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/sizes';

.container {
	width: fit-content;
	padding: toRem(4) toRem(12);
	border: 1px solid var(--color-text-secondary);
	color: var(--color-text-secondary);
	box-shadow: #{var(--color-text-secondary)} 0px 0px 6px;
	border-radius: toRem(24);
	cursor: pointer;

	p {
		cursor: pointer;
	}
}
