@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/sizes';

.container {
	@include flex-direction(row, 48);
	padding: toRem(24) 0 0;
	@include mobile() {
		display: grid;
		grid-template-columns: repeat(1, minmax(toRem(360), toRem(800)));
		row-gap: toRem(48);
	}
	@include tablet() {
		display: grid;
		grid-template-columns: repeat(1, minmax(toRem(360), toRem(800)));
		row-gap: toRem(48);
	}

	.profile-image-wrapper {
		@include flex-box(center, start);

		@include mobile() {
			width: 100%;
		}

		@include tablet() {
			width: 100%;
		}
		span {
			border-radius: 20%;
			max-width: toRem(320) !important;
			max-height: toRem(320) !important;
		}
	}

	.intro-wrapper {
		@include flex-direction(column, 24);
		width: toRem(320);
		padding: toRem(16) 0 0;

		@include mobile() {
			padding: 0;
		}
		@include tablet() {
			padding: 0;
		}
		.intro {
			width: fit-content;
			@include title-medium();
		}
	}
}

.resume {
	color: var(--color-primary);
	cursor: pointer;
	&:hover {
		text-decoration: underline;
	}
}
