{
	"presets": ["next/babel"],
	"plugins": [
		[
			"module-resolver",
			{
				"root": ["./src"],
				"alias": {
					"@assets": "./src/assets",
					"@components": "./src/components",
					"@constants": "./src/constants",
					"@container": "./src/container",
					"@context": "./src/context",
					"@hooks": "./src/hooks",
					"@styles": "./src/styles",
					"@types": "./src/types",
					"@utils": "./src/utils"
				}
			}
		]
	]
}
