@import '../../../styles/colors';
@import '../../../styles/mixins';
@import '../../../styles/sizes';

.icon {
  &.large {
    width: toRem(20);
    height: toRem(20);
  }
  &.medium {
    width: toRem(16);
    height: toRem(16);
  }
  &.medium {
    width: toRem(12);
    height: toRem(12);
  }
}
