@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/sizes';

.container {
	margin: 0 auto;
	padding: toRem(48) toRem(24);
	// width: 1024px;
	width: 768px;
	overflow-y: auto;
	@include scroll-bar();
	@include flex-direction(column, 32);

	h1 {
		@include display-small(700);
	}

	h2 {
		@include headline-medium(900);
		color: $gray800;
		width: fit-content;
		box-shadow: inset 0 -12px 0 #{$gray300};
	}

	h3 {
		@include headline-small(700);
		color: #3673e5;
	}

	h4 {
		@include title-small(700);
		color: $gray800;
	}

	ul > li {
		@include body-large();
		padding-left: toRem(20);
		margin: toRem(2) 0 toRem(2) toRem(4);
		position: relative;
	}

	ul > li::before {
		font-size: toRem(4);
		position: absolute;
		left: 0;
		content: '●';
		display: inline-block;
		color: #{$gray700};
	}

	a {
		cursor: pointer;
		font-weight: 500;
		color: #3673e5;
		&:hover {
			text-decoration: underline;
		}
	}
}

.title-wrapper {
	@include flex-box(between, center);
}

.period {
	color: $gray500;
}

.item-wrapper {
	border-bottom: 1px solid $gray300;
	border-top: 1px solid $gray300;
	@include flex-direction(column, 12);
	padding: toRem(16) 0;

	.item-row {
		display: grid;
		grid-template-columns: repeat(2, 50%);
	}
}

.item {
	@include flex-direction(row, 16);

	.item-type {
		width: 88px;
		font-weight: 700;
	}
	.item-content {
	}
}
.border {
	margin-top: toRem(8);
	background-color: $gray200;
	height: 1px;
	width: 100%;
}

.flex-column-8 {
	@include flex-direction(column, 8);
}

.flex-column-16 {
	@include flex-direction(column, 16);
}

.flex-column-24 {
	@include flex-direction(column, 24);
}

.flex-column-32 {
	@include flex-direction(column, 32);
}

.flex-column-40 {
	@include flex-direction(column, 40);
}

.flex-column-48 {
	@include flex-direction(column, 48);
}
