@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/sizes';

.ToC {
	width: toRem(240);
	flex-shrink: 0;
	padding: toRem(40) 0 0 toRem(8);
	height: fit-content;
	li {
		@include label-large();
		padding: toRem(2) 0;
		transition: all 0.2s ease-out;
		cursor: pointer;

		&:hover {
			font-weight: 600;
		}

		&.h1 {
		}
		&.h2 {
			padding-left: toRem(16);
		}
		&.h3 {
			padding-left: toRem(32);
		}
	}
}
