@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/sizes';

.ToC {
	width: toRem(280);
	flex-shrink: 0;
	padding: toRem(16);
	li {
		@include label-large();
		padding: toRem(2) 0;
		&.h1 {
		}
		&.h2 {
			padding-left: toRem(16);
		}
		&.h3 {
			padding-left: toRem(32);
		}
	}
}
