
$black: #333;
$white: #FFF;

$gray050: #F9F9FA;
$gray100: #f3f3f4;
$gray200: #eaeaeb;
$gray300: #dbdbdc;
$gray400: #b7b7b8;
$gray500: #979798;
$gray600: #6f6f70;
$gray700: #5b5b5c;
$gray800: #3d3d3d;
$gray900: #1c1c1d;

$lime050: #F9FBE7;
$lime100: #F0F4C3;
$lime200: #E6EE9C;
$lime300: #DCE775;
$lime400: #D4E157;
$lime500: #CDDC39;
$lime600: #C0CA33;
$lime700: #AFB42B;
$lime800: #9E9D24;
$lime900: #827717;

$teal050: #E0F2F1;
$teal100: #B2DFDB;
$teal200: #80CBC4;
$teal300: #4DB6AC;
$teal400: #26A69A;
$teal500: #009688;
$teal600: #00897B;
$teal700: #00796B;
$teal800: #00695C;
$teal900: #004D40;

$indigo050: #E8EAF6;
$indigo100: #C5CAE9;
$indigo200: #9FA8DA;
$indigo300: #7986CB;
$indigo400: #5C6BC0;
$indigo500: #3F51B5;
$indigo600: #3949AB;
$indigo700: #303F9F;
$indigo800: #283593;
$indigo900: #1A237E;
