@use './colors' as *;

html[data-theme='dark'] {
	--color-primary: #{$lime400};
	--color-secondary: #{$tealA700};

	--color-page-bg: #{$gray850};
	--color-page-text: #{$gray100};

	--color-navbar-bg: #{$gray900};
	--color-navbar-main-text: #{$gray100};
	--color-navbar-sub-text: #{$gray400};
	--color-navbar-divider: #{$gray600};
	--color-navbar-highlight-bg: var(--color-primary);
	--color-navitem-hover-bg: #{$gray850};
	--color-navitem-active-bg: #{$gray800};

	--color-postcard-bg: #{$gray900};
	--color-postcard-main-text: #{$gray100};
	--color-postcard-sub-text: #{$gray400};

	--color-post-main-text: #{$gray200};
	--color-post-strong-text: #{$gray100};
	--color-post-em-text: #{$gray500};
	--color-post-sub-text: #{$gray400};
	--color-post-h2-text: var(--color-primary);
	--color-post-h3-text: #{$gray100};
	--color-post-anchor-text: #58a6ff; // 고정
	--color-post-divider: #{$gray600};
	--color-post-strong-bg: #{$gray600}99;
	--color-post-blockquote-bg: #{$gray900};

	// code snipet 고정
	--color-codesnipet-bg: #{$gray900};
	--color-code-gray-text: #{$gray500};
	--color-code-white-text: #{$gray100};
	--color-code-red-text: #d73a4a;
	--color-code-orange-text: #d19159;
	--color-code-yellow-text: #f4db95;
	--color-code-lime-text: #{$limeA400};
	--color-code-green-text: #{$green200};
	--color-code-teal-text: #{$teal300};
	--color-code-blue-text: #4c85ed;
	--color-code-indigo-text: #{$indigoA200};
	--color-code-pink-text: #d2a8ff;
	--color-code-purple-text: #7057ff;
	--color-code-lightblue-text: #9ee7ff;
	--color-code-cyan-text: #{$cyanA400};

	--color-toggle-bg: #{$gray900};
	--color-toggle-bar-border: #{$gray100};
	--color-toggle-handle-bg: var(--color-primary);

	--color-select-bg: #{$gray900};
	--color-select-hover-border: var(--color-primary);
	--color-select-main-text: #{$gray100};
	--color-select-option-hover-bg: #{$gray850};

	--color-btn-bg: #{$gray900};
	--color-btn-main-text: #{$gray100};
	--color-btn-hover-border: var(--color-primary);

	--color-header-bg: #{$gray900}E6;

	--color-sidebar-bg: #{$gray900};

	--box-shadow-1: 0px 1px 3px 1px rgba(0, 0, 0, 0.15),
		0px 1px 2px rgba(0, 0, 0, 0.3);
	--box-shadow-2: 0px 2px 6px 2px rgba(0, 0, 0, 0.15),
		0px 1px 2px rgba(0, 0, 0, 0.3);
	--box-shadow-3: 0px 4px 8px 3px rgba(0, 0, 0, 0.15),
		0px 1px 3px rgba(0, 0, 0, 0.3);
	--box-shadow-4: 0px 6px 10px 4px rgba(0, 0, 0, 0.15),
		0px 2px 3px rgba(0, 0, 0, 0.3);
	--box-shadow-5: 0px 8px 12px 6px rgba(0, 0, 0, 0.15),
		0px 4px 4px rgba(0, 0, 0, 0.3);
}

html[data-theme='light'] {
	--color-primary: #{$indigo700};
	--color-secondary: #{$teal700};

	--color-page-bg: #{$gray050};
	--color-page-text: #{$gray900};

	--color-navbar-bg: #{$gray100};
	--color-navbar-main-text: #{$gray900};
	--color-navbar-sub-text: #{$gray600};
	--color-navbar-divider: #{$gray400};
	--color-navbar-highlight-bg: var(--color-primary);
	--color-navitem-hover-bg: #{$gray050};
	--color-navitem-active-bg: #{$gray050};

	--color-postcard-bg: #{$gray100};
	--color-postcard-main-text: #{$gray900};
	--color-postcard-sub-text: #{$gray600};

	--color-post-main-text: #{$gray800};
	--color-post-strong-text: #{$gray900};
	--color-post-em-text: #{$gray500};
	--color-post-sub-text: #{$gray600};
	--color-post-h2-text: var(--color-primary);
	--color-post-h3-text: #{$gray900};
	--color-post-anchor-text: #1d85fd; // 고정
	--color-post-divider: #{$gray400};
	--color-post-strong-bg: #{$gray300}80;
	--color-post-blockquote-bg: #{$gray100};

	// code snipet 고정
	--color-codesnipet-bg: #{$gray900};
	--color-code-gray-text: #{$gray500};
	--color-code-white-text: #{$gray100};
	--color-code-red-text: #d73a4a;
	--color-code-orange-text: #d19159;
	--color-code-yellow-text: #f4db95;
	--color-code-lime-text: #{$limeA400};
	--color-code-green-text: #{$green200};
	--color-code-teal-text: #{$teal300};
	--color-code-blue-text: #4c85ed;
	--color-code-indigo-text: #{$indigoA200};
	--color-code-pink-text: #d2a8ff;
	--color-code-purple-text: #7057ff;
	--color-code-lightblue-text: #9ee7ff;
	--color-code-cyan-text: #{$cyanA400};

	--color-toggle-bg: #{$gray100};
	--color-toggle-bar-border: #{$gray800};
	--color-toggle-handle-bg: var(--color-primary);

	--color-select-bg: #{$gray100};
	--color-select-hover-border: var(--color-primary);
	--color-select-main-text: #{$gray900};
	--color-select-option-hover-bg: #{$gray200};

	--color-btn-bg: #{$gray100};
	--color-btn-main-text: #{$gray900};
	--color-btn-hover-border: var(--color-primary);

	--color-header-bg: #{$gray100}E6;

	--color-sidebar-bg: #{$gray100};

	--box-shadow-1: 0px 1px 2px rgba(0, 0, 0, 0.3),
		0px 1px 3px 1px rgba(0, 0, 0, 0.15);
	--box-shadow-2: 0px 1px 2px rgba(0, 0, 0, 0.3),
		0px 2px 6px 2px rgba(0, 0, 0, 0.15);
	--box-shadow-3: 0px 4px 8px 3px rgba(0, 0, 0, 0.15),
		0px 1px 3px rgba(0, 0, 0, 0.3);
	--box-shadow-4: 0px 6px 10px 4px rgba(0, 0, 0, 0.15),
		0px 2px 3px rgba(0, 0, 0, 0.3);
	--box-shadow-5: 0px 8px 12px 6px rgba(0, 0, 0, 0.15),
		0px 4px 4px rgba(0, 0, 0, 0.3);
}
