@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/sizes';

.container {
	border-radius: $border-radius;
	background-color: var(--color-bg-postcard);
	// width: toRem(600);
	@include flex-box(row, 0);

	.image_wrapper {
		border-radius: $border-radius;
		width: toRem(320);
		background-color: var(--color-text-secondary);
	}

	.contents-wrapper {
		width: 100%;
		padding: toRem(32);
		@include flex-direction(column, 24);

		.tags-wrapper {
			@include flex-direction(row, 12);
		}

		.above-wrapper {
			@include flex-direction(column, 8);
			.title {
				@include headline-small(700);
			}
			.description {
				@include body-medium();
			}
		}

		.below-wrapper {
			@include flex-box(between, center);
			.readmore {
				@include body-small();
			}
			.createdAt {
				@include body-small();			}
		}
	}
}
