@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/sizes';

.page_container {
  @include flex-direction(row, 0);
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;

  .body {
    width: 100%;
    overflow: hidden overlay;
    height: 100%;
    padding: 0;
    // @include flex-direction(column, 32);
    @include scroll-bar();
    @include mobile() {
      @include flex-direction(column, 0);
      @include flex-direction(between, start);
    }
    @include tablet() {
      @include flex-direction(column, 0);
      @include flex-direction(between, start);
    }
  }
}
