@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/sizes';

.container {
  width: toRem(320);
  height: calc(100vh - toRem(64));
  background-color: var(--color-bg-navbar);
  margin: toRem(32);
  padding: toRem(24);
  border-radius: $border-radius;
  @include flex-direction(column, 48);

  .menuIcon_wrapper {
    @include flex-box(end, center);
    svg {
      width: toRem(24);
      height: toRem(24);
      cursor: pointer;
    }
  }

  .profile_wrapper {
    @include flex-box(center, center);
    @include flex-direction(column, 32);

    .profile_image {
      border-radius: 50%;
    }

    .profile_info_wrapper {
      @include flex-box(center, center);
      @include flex-direction(column, 8);
    }

    .profile_contacts_wrapper {
      @include flex-direction(row, 8);
      svg {
        width: toRem(24);
        height: toRem(24);
        cursor: pointer;
        transition: fill 0.2s ease-out;

        &:hover {
          fill: var(--color-text-primary);
        }
      }
    }
  }

  .navItems_wrapper {
    @include flex-direction(column, 8);
  }
}

.navItem_container {
  @include flex-direction(row, 16);
  @include flex-box(start, center);

  width: 100%;
  padding: 16px;
  cursor: pointer;
  border-radius: 40px;

  &:hover {
    background-color: var(--color-bg-navitem-hover);
  }

  svg {
    width: toRem(20);
    height: toRem(20);
  }
}

.footer_container {
  height: 100%;
  @include flex-box(end, center);
  @include flex-direction(column, 4);
}
