@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/sizes';

.container {
	min-width: toRem(320);
	height: calc(100vh - toRem(64));
	background-color: var(--color-bg-navbar);
	padding: toRem(24);
	margin: toRem(32) 0 toRem(32) toRem(32);
	border-radius: $border-radius;
	transition: all 0.3s ease-in-out;
	@include flex-direction(column, 60);

	.menuIcon_wrapper {
		@include flex-box(end, center);
		svg {
			cursor: pointer;
		}
	}

	.profile_wrapper {
		@include flex-box(center, center);
		@include flex-direction(column, 32);

		.profile_image_wrapper {
			@include circle(144);
			border: 1px solid var(--color-bg-navitem-hover);
			padding: toRem(16);
			position: relative;
			cursor: pointer;

			.profile_image {
				border-radius: 50%;
			}
			.highlight_wrapper {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				animation: infinite-spinning 2s infinite;

				.highlight {
					@include circle(10);
					position: absolute;
					right: toRem(15);
					bottom: toRem(15);
					background-color: var(--color-text-primary);
				}
			}
		}

		.profile_info_wrapper {
			@include flex-box(center, center);
			@include flex-direction(column, 8);
		}

		.profile_contacts_wrapper {
			@include flex-direction(row, 16);
			svg {
				cursor: pointer;
				transition: fill 0.2s ease-out;

				&:hover {
					fill: var(--color-text-primary);
				}
			}
		}
	}

	.navItems_wrapper {
		@include flex-direction(column, 8);
		.divider {
			width: 100%;
			height: 1px;
			background-color: var(--color-bg-navitem-hover);
			margin: 0 0 toRem(16);
		}
	}

	&.isFolded {
		@include flex-box(start, center);
		min-width: toRem(72);
		padding: toRem(16);

		.profile_wrapper {
			display: none;
		}
		.navItems_wrapper {
			@include flex-direction(column, 12);
			@include flex-box(center, center);

			.divider {
				margin: toRem(16) 0;
			}
		}

		.navItem_container {
			@include flex-box(center, center);
			padding: 0;
			width: toRem(48);
			height: toRem(48);

			p {
				display: none;
			}
		}
		.footer_container {
			display: none;
		}
	}
}

.navItem_container {
	@include flex-direction(row, 16);
	@include flex-box(start, center);

	width: 100%;
	padding: 16px;
	cursor: pointer;
	border-radius: 12px;

	&:hover {
		background-color: var(--color-bg-navitem-hover);
		svg {
			fill: var(--color-text-primary);
		}
	}

	svg {
		transition: fill 0.2s ease-out;
	}
}

.footer_container {
	height: 100%;
	@include flex-box(end, center);
	@include flex-direction(column, 4);
}
