@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/sizes';

.container {
	max-width: 1024px;
	margin: $margin-top auto toRem(120);
	padding: 0 toRem(32);

	@include mobile() {
		margin: toRem(104) auto toRem(24);
	}
	@include tablet() {
		margin: toRem(104) auto toRem(24);
	}

	header {
		@include flex-direction(column, 24);
		@include flex-box(start, center);
		border-bottom: 1px solid var(--color-post-divider);
		color: var(--color-post-main-text);
		padding: 0 0 toRem(24);
		.tags-wrapper {
			@include flex-direction(row, 12);
		}
		h1 {
			@include display-medium(800);
		}
		time {
			@include label-large();
			color: var(--color-post-sub-text);
		}
	}

	.content {
		// display: grid;
		@include flex-direction(column, 0);

		div {
			margin: toRem(16) 0 toRem(24);
		}
		div > p {
			@include flex-box(center, start);
			img {
				width: 100%;
			}
		}

		h2 {
			@include headline-large(700);
			margin: toRem(48) 0 toRem(24);
			color: var(--color-post-h2-text);

			code,
			strong {
				color: var(--color-post-h2-text);
			}
		}

		h3 {
			@include headline-small(700);
			margin: toRem(32) 0 toRem(16);
			color: var(--color-post-main-text);

			code {
				color: var(--color-post-main-text);
			}
		}

		p {
			@include body-large();
			color: var(--color-post-main-text);
			margin: toRem(12) 0 toRem(16);
		}

		p > strong {
			color: var(--color-post-strong-text);
		}

		p > em {
			color: var(--color-post-em-text);
		}

		p > code,
		li > code {
			@include body-medium(500);
			border-radius: 4px;
			// color: var(--color-post-main-text);
			color: var(--color-primary);
			background-color: var(--color-post-strong-bg);
			padding: toRem(2) toRem(4);
			margin-right: toRem(2);
		}

		a {
			color: var(--color-post-anchor-text);
			strong {
				color: var(--color-post-anchor-text);
			}
			&:hover {
				text-decoration: underline;
			}
		}

		a > code {
			color: var(--color-post-anchor-text);
			background-color: transparent;
			&:hover {
				text-decoration: underline;
			}
		}

		table {
			border-collapse: collapse;
			margin: toRem(24) 0;
			thead {
				tr {
					@include body-large(500);
					th {
						padding: toRem(8) toRem(12);
						// color: var(--color-post-sub-text);
						color: var(--color-post-h2-text);
						text-align: left;
					}
				}
			}

			tbody {
				border-top: 1px solid var(--color-post-divider);
				tr {
					@include body-large(300);
					border-bottom: 1px solid var(--color-post-divider);
					td {
						padding: toRem(8) toRem(12);
						border-right: 1px solid var(--color-post-divider);
					}
					td:nth-last-child(1) {
						border-right: transparent;
					}
				}
			}
		}

		ul > li {
			@include body-large();
			padding-left: toRem(16);
			margin: toRem(8) 0 toRem(8) toRem(4);
			position: relative;
		}
		ul > li::before {
			position: absolute;
			content: '•';
			left: 0;
			display: inline-block;
			color: var(--color-post-main-text);
		}

		ol > li {
			@include body-large();
			margin: toRem(8) 0 toRem(8) toRem(16);
			padding-left: toRem(4);
		}

		li {
			color: var(--color-post-main-text);
		}

		strong {
			font-weight: 700;
		}

		li > p {
			margin: 0;
		}

		hr {
			width: 100%;
			border-top: 1px solid var(--color-post-divider);
			border-bottom: none;
			border-left: none;
			border-right: none;
			margin: toRem(32) 0 toRem(24);
		}

		img {
			width: 100%;
		}
	}
}
