@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/sizes';

.container {
	width: $desktop;
	margin: $margin-top auto;

	header {
		@include flex-direction(column, 24);
		@include flex-box(start, center);
		border-bottom: 1px solid var(--color-text-contents);
		padding: 0 0 toRem(24);
		.tags-wrapper {
			@include flex-direction(row, 12);
		}
		h1 {
			@include display-medium(800);
		}
		time {
			@include label-large();
		}
	}

	.content {
		display: grid;
		h2 {
			@include display-small(700);
			margin: toRem(48) 0 toRem(24);
			color: var(--color-text-primary);
			code {
				border-radius: 4px;
				color: var(--color-text-white);
				background-color: $gray700;
				padding: toRem(2) toRem(4);
				margin-right: toRem(2);
			}
		}

		h3 {
			@include headline-small(700);
			margin: toRem(32) 0 toRem(16);
			code {
				border-radius: 4px;
				color: var(--color-text-white);
				background-color: $gray700;
				padding: toRem(2) toRem(4);
				margin-right: toRem(2);
			}
		}

		p {
			@include body-large();
			color: var(--color-text-contents);
			margin: 0 0 toRem(24);
			code {
				@include body-medium(500);
				border-radius: 4px;
				color: var(--color-text-white);
				background-color: $gray700;
				padding: toRem(2) toRem(4);
				margin-right: toRem(2);
			}
		}
		a {
			color: #58a6ff;
			&:hover {
				text-decoration: underline;
			}
			code {
				color: #58a6ff;
				&:hover {
					text-decoration: underline;
				}
			}
		}

		table {
			border-collapse: collapse;
			thead {
				tr {
					@include body-large(500);
					th {
						padding: toRem(8) toRem(12);
						text-align: left;
					}
				}
			}

			tbody {
				border-top: 1px solid var(--color-text-contents);
				tr {
					@include body-large(300);
					border-bottom: 1px solid var(--color-text-contents);
					td {
						padding: toRem(8) toRem(12);
						border-right: 1px solid var(--color-text-contents);
					}
					td:nth-last-child(1) {
						border-right: transparent;
					}
				}
			}
		}

		ul > li {
			@include body-large();
			padding-left: toRem(16);
			position: relative;
		}
		ul > li::before {
			position: absolute;
			content: '•';
			left: 0;
			display: inline-block;
			color: var(--color-text-contents);
		}
	}
}
