@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/sizes';

@mixin desktopPosition {
	position: fixed;
	right: toRem(32);
	top: toRem(32);
}

.container {
	width: toRem(80);
	height: toRem(48);
	border-radius: 48px;
	background-color: var(--color-toggle-bg);
	cursor: pointer;
	@include flex-box(center, center);

	@include mobile() {
		background-color: transparent;
		width: toRem(48);
	}

	@include tablet() {
		background-color: transparent;
		width: toRem(48);
	}

	@include tablet-hori() {
		@include desktopPosition();
	}
	@include desktop() {
		@include desktopPosition();
	}
	@include large-desktop() {
		@include desktopPosition();
	}

	.toggle_bar {
		width: toRem(40);
		height: toRem(16);
		border-radius: toRem(40);
		background-color: transparent;
		border: 1px solid var(--color-toggle-bar-border);
		position: relative;

		.handler {
			width: toRem(24);
			height: toRem(24);
			border-radius: 50%;
			background-color: var(--color-toggle-handle-bg);
			-webkit-transition: transform 0.3s ease-in-out;
			-moz-transition: transform 0.3s ease-in-out;
			-o-transition: transform 0.3s ease-in-out;
			transition: transform 0.3s ease-in-out;
			left: -8px;

			@include pos-center-y(absolute);

			&:hover {
			}
		}
	}

	&.dark {
		.handler {
			transform: translate(28px, -50%);
		}
	}
	&.light {
		.handler {
			transform: translateX(0, -50%);
		}
	}
}
