@use 'sass:map';

// DESCRIBE: Position

@mixin pos-center-x($type: absolute) {
  @if ($type == fixed or $type == absolute) {
    position: $type;
    left: 50%;
    transform: translateX(-50%);
  }
}

@mixin pos-center-y($type: absolute) {
  @if ($type == fixed or $type == absolute) {
    position: $type;
    top: 50%;
    transform: translateY(-50%);
  }
}

@mixin pos-center($type: absolute) {
  @if ($type == fixed or $type == absolute) {
    position: $type;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@function _get-flex-value($key) {
  @return map-get($flex-map, $key);
}

@mixin flex-box($jc: center, $ai: center) {
  display: flex;
  justify-content: _get-flex-value($jc);
  align-items: _get-flex-value($ai);
}

@mixin flex-direction($direction, $gap: 0) {
  display: flex;
  flex-direction: $direction;

  @if ($direction == column) {
    row-gap: #{$gap}px;
  }
  @if ($direction == row) {
    column-gap: #{$gap}px;
  }
}

// DESCRIBE Typography

@mixin display-large() {
  font-size: $display-large-font;
  line-height: $display-large-line;
  letter-spacing: $display-large-letter;
}

@mixin display-medium() {
  font-size: $display-medium-font;
  line-height: $display-medium-line;
  letter-spacing: $display-medium-letter;
}

@mixin display-small() {
  font-size: $display-small-font;
  line-height: $display-small-line;
  letter-spacing: $display-small-letter;
}

@mixin headline-large() {
  font-size: $headline-large-font;
  line-height: $headline-large-line;
  letter-spacing: $headline-large-letter;
}

@mixin headline-medium() {
  font-size: $headline-medium-font;
  line-height: $headline-medium-line;
  letter-spacing: $headline-medium-letter;
}

@mixin headline-small() {
  font-size: $headline-small-font;
  line-height: $headline-small-line;
  letter-spacing: $headline-small-letter;
}

@mixin title-large() {
  font-size: $title-large-font;
  line-height: $title-large-line;
  letter-spacing: $title-large-letter;
}

@mixin title-medium() {
  font-size: $title-medium-font;
  line-height: $title-medium-line;
  letter-spacing: $title-medium-letter;
}

@mixin title-small() {
  font-size: $title-small-font;
  line-height: $title-small-line;
  letter-spacing: $title-small-letter;
}

@mixin label-large() {
  font-size: $label-large-font;
  line-height: $label-large-line;
  letter-spacing: $label-large-letter;
}

@mixin label-medium() {
  font-size: $label-medium-font;
  line-height: $label-medium-line;
  letter-spacing: $label-medium-letter;
}

@mixin label-small() {
  font-size: $label-small-font;
  line-height: $label-small-line;
  letter-spacing: $label-small-letter;
}

@mixin body-large() {
  font-size: $body-large-font;
  line-height: $body-large-line;
  letter-spacing: $body-large-letter;
}

@mixin body-medium() {
  font-size: $body-medium-font;
  line-height: $body-medium-line;
  letter-spacing: $body-medium-letter;
}

@mixin body-small() {
  font-size: $body-small-font;
  line-height: $body-small-line;
  letter-spacing: $body-small-letter;
}

@mixin font-style($size, $color: false, $weight: 400) {
  @if ($size == display-large) {
    @include display-large;
  }
  @if ($size == display-medium) {
    @include display-medium;
  }
  @if ($size == display-small) {
    @include display-small;
  }
  @if ($size == headline-large) {
    @include headline-large;
  }
  @if ($size == headline-medium) {
    @include headline-medium;
  }
  @if ($size == headline-small) {
    @include headline-small;
  }
  @if ($size == title-large) {
    @include title-large;
  }
  @if ($size == title-medium) {
    @include title-medium;
  }
  @if ($size == title-small) {
    @include title-small;
  }
  @if ($size == label-large) {
    @include label-large;
  }
  @if ($size == label-medium) {
    @include label-medium;
  }
  @if ($size == label-small) {
    @include label-small;
  }
  @if ($size == body-large) {
    @include body-large;
  }
  @if ($size == body-medium) {
    @include body-medium;
  }
  @if ($size == body-small) {
    @include body-small;
  }

  @if (type-of($color) != false) {
    color: map-get($map: $colors-map, $key: $color);
  }

  @if (type-of($weight) == number) {
    font-weight: $weight;
  }
}

// DESCRIBE: Function
@function toRem($value) {
  $remValue: ($value / 16) + rem;
  @return $remValue;
}
